@font-face {
    font-family: "fixed";
    src: url("https://assets.maid.zone/fixed.ttf");
}

:root {
    /* github.com/material-ocean */
    --accent: #ff4151;
    --primary: #0f111a;
    --secondary: #00010a;
    --0: #3b4252;
    --text: white;
}

* {
    font-family: "fixed" !important;
}

body {
    font-family: "fixed" !important;
    text-align: center;
    background-color: var(--primary);
    color: var(--text);
}

a {
    color: var(--accent);
    text-decoration: underline dashed;
}

a:hover {
    text-decoration: underline;
}

.member {
    display: flex;
}

.member > img {
    height: 10rem;
    margin: 1rem;
}

.member > div > h3 {
    margin-top: 0.1rem;
}

.member > div > h1 {
    margin-bottom: 0.1rem;
}

.member > div {
    text-align: left;
}

h1, h2, h3 {
    font-weight: normal;
}

#title {
    font-size: 4.5rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

#members-title {
    font-size: 3rem;
    font-weight: normal; 
    margin-bottom: 1rem;
}

input {
    background-color: var(--secondary);
    color: var(--text);
    border-color: var(--0);
    border-style: solid;
}

input:focus {
    border-color: var(--accent);
    border-style: solid;
    outline: none;
}

button {
    background-color: var(--secondary);
    color: var(--text);
    border-color: var(--0);
    border-style: solid;
}

button:hover, button:focus {
    border-color: var(--accent);
    border-style: solid;
    outline: none;
}

button:hover {
    cursor: pointer;
}

#top {
    position: fixed; 
    top: 0; 
    left: 0;
    background-color: var(--primary);
    width: 100%;   
}

.image {
    position: fixed;
    bottom: -5px;
}

@media screen and (max-device-width: 640px) {
    .image {
        display: none;
    }
}